body {
    background-color: #FFFFFF !important;
    }
    .pixel {
    background-color: #DFDFDF !important;
    padding: 15px !important;
    height: 445px;
    border-radius: 2%;
    -webkit-box-shadow: 30px 30px 22px 0px rgba(99,99,99,1);
    -moz-box-shadow: 30px 30px 22px 0px rgba(99,99,99,1);
    box-shadow: 30px 30px 22px 0px rgba(99,99,99,1);
    }
    h1 {
    font-size: 35px !important;
    margin: 25px !important;
    }
    .colorSelector{
    margin-top: 100px;
    background: #DFDFDF;
    padding: 20px;
    -webkit-box-shadow: 30px 30px 22px 0px rgba(99,99,99,1);
    -moz-box-shadow: 30px 30px 22px 0px rgba(99,99,99,1);
    box-shadow: 30px 30px 22px 0px rgba(99,99,99,1);  
    }
    .colorPick{
     margin-right: 30%;
     margin-left: 31%;
    }
    